---
import TitleAndButtons from "../components/TitleAndButtons.astro";
import Base from '../layouts/Base.astro';
---

<Base title="Strawberry Fair">
	<main class="section">
		<TitleAndButtons title={"By the people of Cambridge.\nFor the people of Cambridge."} />
	</main>
</Base>
