---
import TitleAndButtons from "../components/TitleAndButtons.astro";
import Base from "../layouts/Base.astro";
---

<Base title="Latest News">
  <main class="section">
		<TitleAndButtons title="Latest News" subtitle="All the latest happenings in Fairy-land" />
    <section class="container">
      <div class="columns">
        <div class="column is-four-fifths">

        </div>
        <nav class="column">
          <h2 class="subtitle">
            Archive
          </h2>
        </nav>
      </div>
    </section>
	</main>
</Base>
