---
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<img src="/images/1-line-logo.png">
			</a>
		</div>
		<div class="navbar-menu">
			<div class="navbar-end">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
				<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
				<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
			</div>
		</div>
	</nav>
</header>
<style lang="scss">
	@import "bulma/sass/utilities/_all.sass";
	@import "bulma/sass/components/navbar.sass";
</style>
