---
import '../styles/global.scss';

interface Props {
	imageUrl: string;
  imageAlt: string;
}

const { imageUrl, imageAlt } = Astro.props;
---

<section class="hero is-medium">
  <img class="hero-background" src={imageUrl} alt={imageAlt} />
  <div class="hero-body">
  </div>
  <style>
    .hero {
      position: relative;
      overflow: hidden;
    }
    img.hero-background {
      position: absolute;
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  </style>
</section>
